@charset 'utf-8';

@import 'compass';


/* Base
========================================================================== */


/**************************************/
// variable
$baseColor: #000;
$keyColor: #fff;
$accent: #ef845d;


/**************************************/
// フォントサイズ1px=1remで指定、html:font-size:62.5%と必ずセット

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

/**************************************/
//ブレークポイントの設定

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


/**************************************/
// common

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    @include fontsize(16);
    color: #444;
    font:{
      family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
      weight: 400;
    }
    line-height: 1;
    letter-spacing: 0.05em;
	width: 100%;
}

.container{
	max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

img{
    max-width: 100%;
}

li{
  list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
  text-align: justify;
  text-justify: inter-ideograph;
}



/**************************************/
//


/**************************************/
//


/**************************************/
//


/**************************************/
//


/**************************************/
//


/**************************************/
//


/**************************************/
//


/**************************************/
//
